<section id="documentation" class="section">
  <div class="container">
    <h2 class="section-title">Documentation</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8">
      <div class="card col-span-1 lg:col-span-2 w-full">
        <h3 class="text-xl font-medium text-black text-center text-red">
          Great things take time — our documentation is brewing, stay tuned!
        </h3>
      </div>
    </div>
  </div>
</section>
