---
import "../styles/global.css";

export interface props {
  showNotification?: boolean;
}

const { showNotification } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cloudflare App with Astro | Atyantik Technologies</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased min-h-screen">
    {
      showNotification && (
        <header class="notification">
          <p>Uploaded assets are auto-deleted every 2 minutes.</p>
        </header>
      )
    }
    <slot />
  </body>
</html>
